<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common/layout::head_f}">

</head>
<body>
<!-- insert : 부분 변경 -->
    <header th:insert="~{common/header::header_f}">
<!--         <h1>코리아아이티 아카데미</h1>-->
    </header>

<!-- replace : 전체 변경 -->
    <!--<nav>
        <a href="">회원가입</a>
        <a href="">로그인</a>
    </nav>-->
    <div th:replace="~{common/header::nav_f}"></div>

    <hr>

    <section>페이지 메인</section>

    <hr>

    <footer th:insert="~{common/footer::footer_f('koreait Academy','055.0000.0000')}">
        <!--<div>
            <p>코리아아이티 아카데미</p>
            <p>Tel. 051.1234.5678</p>
        </div>-->
    </footer>
</body>
</html>